<mat-form-field class="full-width-input" appearance="fill">
  <mat-label>{{ label }}</mat-label>

  <input matInput [type]="type" [placeholder]="placeholder" [formControl]="control" />

  @for(key of errorKeys() ; track $index){
  <mat-error>{{ getErrorMessage(key, control.getError(key)) }}</mat-error>
  } @if(isPasswordField){
  <button
    type="button"
    mat-icon-button
    matSuffix
    (click)="togglePassword()"
    [attr.aria-label]="'Toggle password visibility'"
    [attr.aria-pressed]="!hidePassword"
  >
    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  }
</mat-form-field>
