mat-card {
  padding: 20px;
  margin: 0 auto;
  background-color: var(--main-color);

  max-width: fit-content;
}

mat-card-content {
  overflow-x: auto;
}

.title {
  margin-bottom: 10px;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--main-color);
}

th {
  color: var(--text-secondary);
  font-weight: 500;
  padding: 10px 30px;
}

.row:hover {
  background-color: var(--accent-color);
  color: var(--main-color);

  cursor: pointer;
}

td {
  font-weight: 500;
  padding: 10px 30px;
}

mat-card-footer {
  padding: 10px 46px;
  font-size: 14px;
  color: var(--text-secondary);
}

mat-divider {
  border-top-color: #74777f;
}
