<div class="container">
  <button
    class="btn"
    [class.base]="isHidden"
    matIconButton
    (click)="this.isHidden = !this.isHidden"
  >
    <mat-icon class="icon">{{ isHidden ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </button>

  <div class="info-sidebar" [class.hidden]="isHidden">
    <h2 class="title">Tour Info</h2>

    <!-- Client -->
    <div class="info_content">
      <div class="info_block">
        <h3 class="title">Client Info</h3>
        <div class="field_block">
          <div class="custom-form-field disabled" title="{{ clientData()?.firstName }}">
            <label>First Name</label>
            <div class="field-value">{{ clientData()?.firstName ?? 'Null' }}</div>
          </div>
          <div class="custom-form-field disabled" title="{{ clientData()?.lastName }}">
            <label>Last Name</label>
            <div class="field-value">{{ clientData()?.lastName ?? 'Null' }}</div>
          </div>
        </div>

        <div class="field_block">
          <div class="custom-form-field disabled" title="{{ clientData()?.middleName }}">
            <label>Middle Name</label>
            <div class="field-value half-field">
              {{ clientData()?.middleName ?? 'Null' }}
            </div>
          </div>
        </div>

        <div class="field_block">
          <div class="custom-form-field disabled" title="{{ clientData()?.address?.country }}">
            <label>Country</label>
            <div class="field-value">{{ clientData()?.address?.country ?? 'Null' }}</div>
          </div>
          <div class="custom-form-field disabled" title="{{ clientData()?.address?.city }}">
            <label>City</label>
            <div class="field-value">
              {{ clientData()?.address?.city ?? 'Null' }}
            </div>
          </div>
        </div>

        <div class="field_block">
          <div class="custom-form-field disabled" title="{{ clientData()?.phone }}">
            <label>Phone</label>
            <div class="field-value">
              {{ clientData()?.phone ? `+${clientData()?.phone}` : 'Null' }}
            </div>
          </div>
          <div class="custom-form-field disabled" title="{{ clientData()?.email }}">
            <label>Email</label>
            <div class="field-value">{{ clientData()?.email ?? 'Null' }}</div>
          </div>
        </div>
      </div>

      <!-- Itinerary -->

      <div class="info_block">
        <h3 class="title">Itinerary Info</h3>
        <div class="field_block">
          <div class="custom-form-field disabled" title="{{ itineraryData()?.country }}">
            <label>Country</label>
            <div class="field-value">{{ itineraryData()?.country ?? 'Null' }}</div>
          </div>
          <div class="custom-form-field disabled" title="{{ itineraryData()?.hotel }}">
            <label>Hotel</label>
            <div class="field-value">{{ itineraryData()?.hotel ?? 'Null' }}</div>
          </div>
        </div>

        <div class="field_block">
          <div class="custom-form-field disabled" title="{{ `${itineraryData()?.price}$` }}">
            <label>Price (per week)</label>
            <div class="field-value">
              {{ itineraryData()?.price ? `${itineraryData()?.price}$` : 'Null' }}
            </div>
          </div>
        </div>
      </div>

      <!-- Tour -->

      <div class="info_block">
        <h3 class="title">Tour Info</h3>
        <div class="field_block">
          <div class="custom-form-field disabled">
            <label>Start Date</label>
            <div class="field-value">Null</div>
          </div>
          <div class="custom-form-field disabled">
            <label>Duration (week)</label>
            <div class="field-value">Null</div>
          </div>
        </div>

        <div class="field_block">
          <div class="custom-form-field disabled">
            <label>Quantity (person)</label>
            <div class="field-value">Null</div>
          </div>
          <div class="custom-form-field disabled">
            <label>Discount</label>
            <div class="field-value">Null</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
