<div class="info-sidebar">
  <h2 class="title">Tour Info</h2>

  <div class="info_content">
    <div class="info_block">
      <h3 class="title">Client Info</h3>
      <div class="field_block">
        <div class="custom-form-field disabled">
          <label>First Name</label>
          <div class="field-value">Mykola</div>
        </div>
        <div class="custom-form-field disabled">
          <label>Last Name</label>
          <div class="field-value">Bandera</div>
        </div>
      </div>

      <div class="field_block">
        <div class="custom-form-field disabled">
          <label>Middle Name</label>
          <div class="field-value half-field">Ivanovych</div>
        </div>
      </div>

      <div class="field_block">
        <div class="custom-form-field disabled">
          <label>Country</label>
          <div class="field-value">Ukraine</div>
        </div>
        <div class="custom-form-field disabled">
          <label>City</label>
          <div class="field-value">Kyiv</div>
        </div>
      </div>

      <div class="field_block">
        <div class="custom-form-field disabled">
          <label>Phone</label>
          <div class="field-value">+380505432312</div>
        </div>
        <div class="custom-form-field disabled">
          <label>Email</label>
          <div class="field-value">jor@mail.com</div>
        </div>
      </div>
    </div>

    <div class="info_block">
      <h3 class="title">Itinerary Info</h3>
      <div class="field_block">
        <div class="custom-form-field disabled">
          <label>Country</label>
          <div class="field-value">Brazil</div>
        </div>
        <div class="custom-form-field disabled">
          <label>Hotel</label>
          <div class="field-value">Reddyson 5</div>
        </div>
      </div>

      <div class="field_block">
        <div class="custom-form-field disabled">
          <label>Price</label>
          <div class="field-value">200$</div>
        </div>
        <div class="custom-form-field disabled">
          <label>Duration (week)</label>
          <div class="field-value">4</div>
        </div>
      </div>
    </div>

    <div class="info_block">
      <h3 class="title">Tour Info</h3>
      <div class="field_block">
        <div class="custom-form-field disabled">
          <label>Start Date</label>
          <div class="field-value">01.09.2025</div>
        </div>
        <div class="custom-form-field disabled">
          <label>Quantity (person)</label>
          <div class="field-value">2</div>
        </div>
      </div>

      <div class="field_block">
        <div class="custom-form-field disabled">
          <label>Discount</label>
          <div class="field-value">5%</div>
        </div>
      </div>
    </div>
  </div>
</div>
