<div class="info_block">
  <h3 class="title">Client Info</h3>
  <div class="field_block">
    <div class="half">
      <app-input
        [control]="clientForm.controls['firstName']"
        label="First Name"
        placeholder="John"
      />
    </div>
    <div class="half">
      <app-input [control]="clientForm.controls['lastName']" label="Last Name" placeholder="John" />
    </div>
  </div>

  <div class="field_block">
    <div class="full">
      <app-input
        [control]="clientForm.controls['middleName']"
        label="Middle Name"
        placeholder="John"
      />
    </div>
  </div>

  <div class="field_block">
    <div class="half">
      <app-input [control]="clientForm.controls['country']" label="Country" placeholder="Ukraine" />
    </div>
    <div class="half">
      <app-input [control]="clientForm.controls['city']" label="City" placeholder="Kyiv" />
    </div>
  </div>

  <div class="field_block">
    <div class="half">
      <app-input
        [control]="clientForm.controls['phone']"
        label="Phone"
        placeholder="380501234567"
      />
    </div>
    <div class="half">
      <app-input
        [control]="clientForm.controls['email']"
        label="Email"
        placeholder="myemail@mail.com"
        type="email"
      />
    </div>
  </div>
</div>
