<div class="create-client-container">
  <mat-card class="create-client-card">
    <mat-card-header>
      <mat-card-title class="title">Create New Client</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="onLogin()" [formGroup]="clientForm" class="create-client-form">
        @if (globalError()) {
        <mat-error class="global-error">{{ globalError() }}</mat-error>
        }

        <app-input
          [control]="clientForm.controls['firstName']"
          label="First Name"
          placeholder="John"
        ></app-input>

        <button matButton="filled">Create</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
