<div class="container">
  <button
    class="btn"
    [class.base]="!isOpened"
    matIconButton
    (click)="this.isOpened = !this.isOpened"
  >
    <mat-icon class="icon">{{ !isOpened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </button>

  <div class="info-sidebar" [class.hidden]="!isOpened">
    <h2 class="title">Summary</h2>

    <div class="info_content">
      <!-- Client -->
      <app-client-info [clientData]="clientData" />

      <!-- Itinerary -->
      <app-itinerary-info [itineraryData]="itineraryData" />

      <!-- Tour -->
      <app-tour-info [tourInfoData]="tourInfoData" />

      @if(isAllDataFiled()){
      <a class="link" matButton="filled" [routerLink]="['/new-tour/summary']">Summary</a>
      }
    </div>
  </div>
</div>
