<div class="info_block">
  <h3 class="title">Tour Info</h3>
  <div class="field_block">
    <div class="half">
      <app-input
        [control]="tourForm.controls['startDate']"
        label="Start Date"
        type="date"
        placeholder="DD/MM/YYYY"
      />
    </div>
    <div class="half">
      <app-input [control]="tourForm.controls['duration']" label="Duration (week)" />
    </div>
  </div>

  <div class="field_block">
    <div class="half">
      <app-input
        [control]="tourForm.controls['quantity']"
        label="Quantity (person)"
        type="number"
        placeholder="1"
      />
    </div>
    <div class="half">
      <app-input
        [control]="tourForm.controls['discount']"
        label="Discount (%)"
        type="number"
        placeholder="1"
      />
    </div>
  </div>
</div>
