<div class="info_block">
  <h3 class="title">Tour Info</h3>
  <div class="field_block">
    <div
      class="custom-form-field disabled"
      title="{{ tourInfoData()?.startDate?.toLocaleDateString() }}"
    >
      <label>Start Date</label>
      <div class="field-value">
        {{ tourInfoData()?.startDate?.toLocaleDateString() ?? 'Null' }}
      </div>
    </div>
    <div class="custom-form-field disabled" title="{{ tourInfoData()?.duration }}">
      <label>Duration (week)</label>
      <div class="field-value">{{ tourInfoData()?.duration ?? 'Null' }}</div>
    </div>
  </div>

  <div class="field_block">
    <div class="custom-form-field disabled" title="{{ tourInfoData()?.quantity }}">
      <label>Quantity (person)</label>
      <div class="field-value">{{ tourInfoData()?.quantity ?? 'Null' }}</div>
    </div>
    <div class="custom-form-field disabled" title="{{ discountSum() }}">
      <label>Discount</label>
      <div class="field-value">{{ discountSum() }}%</div>
    </div>
  </div>
</div>
