.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.price {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price_row {
  display: flex;
  justify-content: space-between;
}

.total {
  font-weight: bold;
  font-size: 1.2em;
}

.actions {
  margin-top: 10px;
  width: 100%;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.table_container {
  overflow-x: auto;
}

table {
  background-color: var(--main-color);
}

th {
  color: var(--text-secondary);
}

.row:hover {
  background-color: var(--accent-color);
  color: var(--main-color);

  cursor: pointer;
}

td {
  font-weight: 500;
}

.message {
  color: #2a9b46;
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
}
