<div class="backdrop" [class.hidden]="!isOpen"></div>
<div class="container">
  <button class="btn" [class.base]="!isOpen" matIconButton (click)="this.isOpen = !this.isOpen">
    <mat-icon class="icon">{{ !isOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </button>

  <div class="info-sidebar" [class.hidden]="!isOpen">
    <h2 class="title">Summary</h2>

    <div class="info_content">
      <!-- Client -->
      <app-client-info [clientData]="clientData" />

      <!-- Itinerary -->
      <app-itinerary-info [itineraryData]="itineraryData" />

      <!-- Tour -->
      <app-tour-info [tourInfoData]="tourInfoData" />

      <div class="actions">
        @if(isAllDataFiled()){
        <a class="link" matButton="filled" [routerLink]="['/new-tour/summary']">Summary</a>
        }

        <button matButton="outlined" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
