<div class="itinerary">
  @if(message){
  <div class="message">{{ message }}</div>
  } @if(!isItineraryPage()){
  <h2 class="title">Select Itinerary</h2>

  }
  <ul class="list">
    @for(itinerary of itineraryDataList(); track itinerary._id ){
    <li (click)="selectItinerary(itinerary)" class="item">
      <app-itinerary-list-item [itinerary]="itinerary" />
    </li>
    }

    <!-- Add Itinerary -->
    @if(showAddItinerary()){
    <li class="item">
      <a [routerLink]="['/itineraries/create']">
        <mat-card class="card">
          <mat-card-content class="card_content">
            <mat-icon class="icon">add</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </li>
    }
  </ul>
</div>
