<div class="sidebar_content">
  <h1 class="logo">Traveler Tour</h1>
  <nav>
    <ul class="list">
      <li class="list_item">
        <a [routerLink]="['/new-tour']" class="link"
          ><span>New Tour</span> <mat-icon>keyboard_arrow_right</mat-icon></a
        >
      </li>
      <li class="list_item">
        <a [routerLink]="['/']" class="link">
          <span>Client List</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
      </li>
      <li class="list_item">
        <a [routerLink]="['/']" class="link">
          <span>Tours</span> <mat-icon>keyboard_arrow_right</mat-icon></a
        >
      </li>
      <li class="list_item">
        <a [routerLink]="['/']" class="link">
          <span>Hotels</span> <mat-icon>keyboard_arrow_right</mat-icon></a
        >
      </li>
    </ul>

    <ul class="list">
      <li class="list_item email">{{ userEmail }}</li>
      <li (click)="onLogout()" class="list_item logout">
        <span>Logout</span> <mat-icon>logout</mat-icon>
      </li>
    </ul>
  </nav>
</div>
