<div class="sidebar_content">
  <a [routerLink]="['/']" class="link"
    ><div class="logo_container">
      <mat-icon class="logo_icon">travel_explore</mat-icon>
      <h1 class="logo">Traveler Tour</h1>
    </div></a
  >
  <nav>
    <ul class="list">
      <li class="list_item">
        <a [routerLink]="['/new-tour']" class="link"
          ><div class="icon_text_block"><mat-icon>assignment_add</mat-icon>New Tour</div>
          <mat-icon>keyboard_arrow_right</mat-icon></a
        >
      </li>
      <li class="list_item">
        <a [routerLink]="['/clients']" class="link">
          <div class="icon_text_block"><mat-icon>group</mat-icon>Client List</div>

          <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
      </li>
      <li class="list_item">
        <a [routerLink]="['/itinerary']" class="link">
          <div class="icon_text_block"><mat-icon>map</mat-icon>Itinerary List</div>
          <mat-icon>keyboard_arrow_right</mat-icon></a
        >
      </li>
      @if(userRole === 'admin'){
      <li class="list_item">
        <a [routerLink]="['/registration']" class="link">
          <div class="icon_text_block"><mat-icon>person_add</mat-icon>Register User</div>
          <mat-icon>keyboard_arrow_right</mat-icon></a
        >
      </li>
      }
    </ul>

    <ul class="list">
      <li class="list_item email">{{ userEmail }}</li>
      <li (click)="onLogout()" class="list_item logout">
        <span>Logout</span> <mat-icon>logout</mat-icon>
      </li>
    </ul>
  </nav>
</div>
