.sidebar_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 100%;

  position: relative;
}

.logo_container {
  cursor: pointer;
  color: var(--text-main);
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo_icon {
  transform: scale(1.4);
}

.logo {
  font-size: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: var(--text-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo_link {
  text-decoration: none;
}

.icon_text_block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout {
  color: var(--text-secondary);
  display: flex;
  justify-content: space-between;
}

.list_item {
  font-size: 18px;

  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.list_item:hover,
.list_item:has(.link.active) {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.list_item:hover .link,
.link.active {
  color: var(--main-color);
}

.email {
  color: var(--text-main);
}
