<div class="sidebar_content">
  <a [routerLink]="['/']" class="link"><h1 class="logo">Traveler Tour</h1></a>
  <nav>
    <ul class="list">
      <li class="list_item">
        <a [routerLink]="['/new-tour']" class="link"
          ><span>New Tour</span> <mat-icon>keyboard_arrow_right</mat-icon></a
        >
      </li>
      <li class="list_item">
        <a [routerLink]="['/clients']" class="link">
          <span>Client List</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
      </li>
      <li class="list_item">
        <a [routerLink]="['/itinerary-list']" class="link">
          <span>Itinerary List</span> <mat-icon>keyboard_arrow_right</mat-icon></a
        >
      </li>
      @if(userRole === 'admin'){
      <li class="list_item">
        <a [routerLink]="['/registration']" class="link">
          <span>Register User</span> <mat-icon>keyboard_arrow_right</mat-icon></a
        >
      </li>
      }
    </ul>

    <ul class="list">
      <li class="list_item email">{{ userEmail }}</li>
      <li (click)="onLogout()" class="list_item logout">
        <span>Logout</span> <mat-icon>logout</mat-icon>
      </li>
    </ul>
  </nav>
</div>
