mat-card {
  padding: 20px;
  margin: 0 auto;
  background-color: var(--main-color);

  max-width: fit-content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.link {
  display: flex;
  align-items: center;
  text-align: center;
}

mat-card-content {
  overflow-x: auto;
}

.title {
  margin-bottom: 10px;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--main-color);
}

th {
  color: var(--text-secondary);
  font-weight: 500;
  padding: 10px 30px;
}

td {
  font-weight: 500;
  padding: 10px 30px;
}

mat-card-footer {
  padding: 10px 46px;
  font-size: 14px;
  color: var(--text-secondary);
}

mat-divider {
  border-top-color: #74777f;
}

.message {
  color: #2a9b46;
  text-align: center;
}
