<div class="info_block">
  <h3 class="title">Itinerary Info</h3>
  <div class="field_block">
    <div class="half">
      <app-input
        [control]="itineraryForm.controls['country']"
        label="Country"
        placeholder="Ukraine"
      />
    </div>
    <div class="half">
      <app-input
        [control]="itineraryForm.controls['hotel']"
        label="Hotel"
        placeholder="Hotel Ukraine"
      />
    </div>
  </div>

  <div class="field_block">
    <div class="full">
      <app-input
        [control]="itineraryForm.controls['price']"
        label="Price ($/per week)"
        type="number"
        placeholder="1000"
      />
    </div>
  </div>
</div>
