.card_container {
  width: 1000px;
  margin: 0 auto;
}

.card {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  margin-bottom: 10px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price_row {
  display: flex;
  justify-content: space-between;
}

.total {
  font-weight: bold;
  font-size: 1.2em;
}

.actions {
  margin-top: 10px;
  width: 100%;
}

.btn {
  width: 100%;
}
