.info-sidebar {
  background-color: var(--main-color);
  width: 400px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);

  overflow-y: auto;
}

.info_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  padding: 20px 0;
  height: 100%;
  width: 100%;
}

.info_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.title {
  color: #292929;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list_item {
  color: var(--text-secondary);
}

.field_block {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.custom-form-field {
  width: 100%;
}

.custom-form-field label {
  display: block;
  font-size: 14px;
  color: #757575;
  margin-bottom: 4px;
}

.custom-form-field .field-value {
  padding: 12px 8px 8px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  color: #212121;
}

.custom-form-field.disabled .field-value {
  color: #9e9e9e;
  background-color: #f5f5f5;
  border-bottom: 1px solid #bdbdbd;
  cursor: not-allowed;
}
