mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  border-radius: 0px;
  width: 250px;
  background-color: #fff;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);

  padding: 20px;
  height: 100vh;
}

mat-sidenav-content {
  background-color: var(--secondary-color);
  display: flex;

  padding: 100px;
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 100%;
}

.logo {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list_item {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;

  display: flex;
  justify-content: space-between;
  color: var(--text-secondary);
}

.list_item:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.email {
  color: var(--text-main);
}

.main {
  background-color: var(--main-color);

  padding: 24px;
  background: #fff;
  border-radius: 8px;
  min-height: 360px;

  flex: 1;
}

.welcome {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
