mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  border-radius: 0px;
  width: 250px;
  background-color: #fff;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);

  padding: 20px;
  height: 100vh;
}

mat-sidenav-content {
  background-color: var(--secondary-color);
}

.mat-drawer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  background-color: var(--main-color);

  padding: 20px;
  background: #fff;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
