<div class="container">
  <button
    matIconButton
    class="btn"
    [class.closed]="!isOpen"
    (click)="snav.toggle(); isOpen = !isOpen"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-sidenav-container>
    <mat-sidenav #snav [opened]="isOpen" mode="side">
      <app-sidenav />
    </mat-sidenav>

    <mat-sidenav-content>
      <main class="main">
        <router-outlet />
      </main>

      @if(isTourPages){
      <app-tour-info-sidebar class="side" />
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
