<div class="container">
  <mat-sidenav-container>
    <mat-sidenav #snav [opened]="isOpen" [mode]="mode" class="sidenav">
      <app-sidenav />
    </mat-sidenav>

    <mat-sidenav-content>
      @if(mode === 'over'){
      <button matIconButton class="btn" (click)="snav.toggle()">
        <mat-icon class="icon">menu</mat-icon>
      </button>
      }

      <main class="main">
        <!-- loader -->
        <app-loader />
        <!-- router -->
        <router-outlet />
      </main>

      @if(isTourPages){
      <app-tour-info-sidebar class="side" />
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
