<div class="container">
  <!-- <button matIconButton class="btn" [class.closed]="!isOpen" (click)="isOpen = !isOpen">
    <mat-icon>menu</mat-icon>
  </button> -->
  <mat-sidenav-container>
    <mat-sidenav #snav [opened]="true" mode="side" class="sidenav" [class.open]="isOpen">
      <app-sidenav />
    </mat-sidenav>

    <mat-sidenav-content>
      <main class="main">
        <!-- loader -->
        <app-loader />

        <!-- router -->
        <router-outlet />
      </main>

      @if(isTourPages){
      <app-tour-info-sidebar class="side" />
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
