.create-card {
  margin-top: 10px;
  padding: 40px 20px 10px 20px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--main-color);
}

.stepper {
  background-color: var(--main-color);
}

form {
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  margin-bottom: 20px;
}

.stepper-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.first_btn {
  margin-left: auto;
}

.message {
  color: #2a9b46;
  margin-top: 4px;
  text-align: center;
}
