.create-client-card {
  margin-top: 10px;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--main-color);
}

.create-client-form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  margin-bottom: 20px;
}

.full-width-input {
  width: 100%;
}
