<div class="create-client-card">
  <div class="header">
    <h3 class="title">Create New Client</h3>
  </div>
  <div>
    <mat-horizontal-stepper class="stepper" linear #stepper>
      <!-- Step 1: Name -->
      <mat-step [stepControl]="clientFormName">
        <form [formGroup]="clientFormName">
          <ng-template matStepLabel>Name</ng-template>

          <app-input
            [control]="clientFormName.controls['firstName']"
            label="First Name"
            placeholder="John"
          ></app-input>
          <app-input
            [control]="clientFormName.controls['lastName']"
            label="Last Name"
            placeholder="Doe"
          ></app-input>
          <app-input
            [control]="clientFormName.controls['middleName']"
            label="Middle Name"
            placeholder="Ivanovych"
          ></app-input>

          <div class="stepper-buttons">
            <button
              class="first_btn"
              mat-button
              matStepperNext
              (click)="clientFormName.markAllAsTouched()"
              [disabled]="clientFormName.invalid"
              matButton="filled"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Step 2: Address -->
      <mat-step [stepControl]="clientFormAddress">
        <form [formGroup]="clientFormAddress">
          <ng-template matStepLabel>Address</ng-template>

          <app-input
            [control]="clientFormAddress.controls['country']"
            label="Country"
            placeholder="Ukraine"
          ></app-input>
          <app-input
            [control]="clientFormAddress.controls['city']"
            label="City"
            placeholder="Kyiv"
          ></app-input>

          <div class="stepper-buttons">
            <button mat-button matStepperPrevious matButton="tonal">Back</button>
            <button
              mat-button
              matStepperNext
              (click)="clientFormAddress.markAllAsTouched()"
              [disabled]="clientFormAddress.invalid"
              matButton="filled"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Step 3: Contacts -->
      <mat-step [stepControl]="clientFormContacts">
        <form [formGroup]="clientFormContacts">
          <ng-template matStepLabel>Contacts</ng-template>

          @if (globalError()) {
          <mat-error class="global-error">{{ globalError() }}</mat-error>
          }

          <app-input
            [control]="clientFormContacts.controls['phone']"
            label="Phone"
            placeholder="380501234567"
          ></app-input>
          <app-input
            [control]="clientFormContacts.controls['email']"
            label="Email"
            placeholder="myemail@mail.com"
            type="email"
          ></app-input>

          <div class="stepper-buttons">
            <button mat-button matStepperPrevious matButton="tonal">Back</button>
            <button
              mat-raised-button
              color="primary"
              (click)="onCreate()"
              [disabled]="clientFormContacts.invalid"
              matButton="filled"
            >
              Create
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
