<!-- <div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="title">Create Itinerary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="onItineraryCreate()" [formGroup]="itineraryForm" class="login-form">
        @if (globalError()) {
        <mat-error class="global-error">{{ globalError() }}</mat-error>
        }
        <app-input
          [control]="itineraryForm.controls['country']"
          label="Country"
          placeholder="Ukraine"
        ></app-input>

        <app-input
          [control]="itineraryForm.controls['climate']"
          label="Climate"
          placeholder="temperate"
        ></app-input>

        <app-input
          [control]="itineraryForm.controls['url']"
          label="Image Url"
          type="number"
          placeholder="https://image.com/picture.jpg"
        ></app-input>

        <app-input
          [control]="itineraryForm.controls['hotel']"
          label="Hotel"
          placeholder="Hotel Ukraine"
        ></app-input>

        <app-input
          [control]="itineraryForm.controls['duration']"
          label="Duration"
          type="number"
          placeholder="temperate"
        ></app-input>

        <app-input
          [control]="itineraryForm.controls['price']"
          label="Price"
          type="number"
          placeholder="100"
        ></app-input>

        <button type="submit" matButton="filled">Create</button>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->

<div class="itinerary">
  <div class="create-card">
    <div class="header">
      <h3 class="title">Create New Client</h3>
    </div>
    <div>
      <mat-horizontal-stepper class="stepper" linear #stepper>
        <!-- Step 1: Country -->
        <mat-step [stepControl]="itineraryFormCountry">
          @if (message()) {
          <div class="message">{{ message() }}</div>
          }
          <form [formGroup]="itineraryFormCountry">
            <ng-template matStepLabel>Country</ng-template>

            <app-input
              [control]="itineraryFormCountry.controls['country']"
              label="Country"
              placeholder="Ukraine"
            ></app-input>

            <app-input
              [control]="itineraryFormCountry.controls['climate']"
              label="Climate"
              placeholder="temperate"
            ></app-input>

            <div class="stepper-buttons">
              <button
                class="first_btn"
                mat-button
                matStepperNext
                (click)="itineraryFormCountry.markAllAsTouched()"
                [disabled]="itineraryFormCountry.invalid"
                matButton="filled"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <!-- Step 2: Hotel -->
        <mat-step [stepControl]="itineraryFormHotel">
          <form [formGroup]="itineraryFormHotel">
            <ng-template matStepLabel>Hotel</ng-template>

            <app-input
              [control]="itineraryFormHotel.controls['hotel']"
              label="Hotel"
              placeholder="Hotel Ukraine"
            ></app-input>

            <app-input
              [control]="itineraryFormHotel.controls['url']"
              label="Image Url"
              placeholder="https://image.com/picture.jpg"
            ></app-input>

            <div class="stepper-buttons">
              <button mat-button matStepperPrevious matButton="tonal">Back</button>
              <button
                mat-button
                matStepperNext
                (click)="itineraryFormHotel.markAllAsTouched()"
                [disabled]="itineraryFormHotel.invalid"
                matButton="filled"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <!-- Step 3: Price -->
        <mat-step [stepControl]="itineraryFormPrice">
          <form [formGroup]="itineraryFormPrice">
            <ng-template matStepLabel>Price</ng-template>

            @if (globalError()) {
            <mat-error class="global-error">{{ globalError() }}</mat-error>
            }

            <app-input
              [control]="itineraryFormPrice.controls['duration']"
              label="Duration"
              type="number"
              placeholder="temperate"
            ></app-input>

            <app-input
              [control]="itineraryFormPrice.controls['price']"
              label="Price"
              type="number"
              placeholder="100"
            ></app-input>

            <div class="stepper-buttons">
              <button mat-button matStepperPrevious matButton="tonal">Back</button>
              <button
                mat-raised-button
                color="primary"
                (click)="onItineraryCreate(stepper)"
                [disabled]="itineraryFormPrice.invalid"
                matButton="filled"
              >
                Create
              </button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
