/* You can add global styles to this file, and also import other style files */
:root {
  --accent-color: #5932ea;
  --accent-color-hover: #6c49f0;
  --main-color: #fff;
  --secondary-color: #e8eaf1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
