/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/azure-blue.css';

:root {
  --accent-color: #005cbb;
  --accent-color-hover: #006cd8;
  --main-color: #fff;
  --secondary-color: #e8eaf1;

  --text-main: #000;
  --text-secondary: #55565c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
