.info_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.field_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.half {
  width: 48%;
}

.full {
  width: 100%;
}

.title {
  color: #292929;
  margin-bottom: 10px;
}
